.button {
    background-color: transparent;
    font-family: var(--fonte);
    position: fixed;
    top: 45em;
    right: 1em;
    text-align: center;
    display: flex;
    align-items: center;
}

.button__plus {
    background-color: var(--fundo-local);
    color: var(--branco);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 50%;
}