.footer {
    background-color: var(--fundo);
    font-size: 12px;
    font-weight: 400;
    position: fixed;
    top: 65em;
    width: 100%;
}

.footer__menu {
    background-color: var(--branco);
    font-family: var(--fonte);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    border-radius: 16px;
    margin-top: 10px;
    padding: 0.5em 0.8em;
}

.menu__calendar {
    background-color: var(--branco);
}

.menu {
    background-color: var(--branco);
}

.calendar__text {
    color: var(--fundo-local);
    background-color: var(--branco);
}

.menu__text {
    color: var(--cor-primaria);
    background-color: var(--branco);
}

.icon__calendar {
    margin-bottom: 5px;
}

.menu__icon {
    margin-bottom: 5px;
}

@media screen and (min-width:768px) {
    .footer {
        top: 90%;
    }
}

@media screen and (min-width:1024px) {
    .footer {
        position: static;
        font-size: 1.2em;
    }

    .footer__menu {
        display: flex;
        flex-direction: column;
        height: 165vh;
        justify-content: flex-start;
    }

    .menu__calendar {
        display: flex;
        align-items: center;
        margin: 1em 0;
    }

    .icon__calendar {
        filter: grayscale(100%);
        margin-right: 0.5em;
        height: 1.5em;
        width: 1.5em;
    }

    .calendar__text {
        color: var(--cor-primaria);
        background-color: var(--branco);
    }

    .menu {
        display: flex;
        align-items: center;
        margin: 1em 0;
    }

    .menu:hover {
        color: var(--fundo-local);
        background-color: var(--fonte);
    }

    .menu__icon {
        filter: grayscale(100%);
        margin-right: 0.5em;
        height: 1.5em;
        width: 1.5em;
    }

}