* {
    margin: 0px;
    padding: 0px
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
}

.titulo-destaque {
    color: #22D4FD;
}
