@import url(./styles/header.css);
@import url(./styles/agenda.css);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --branco: #ffffff;
    --fundo: #f9f7fe;
    --fonte: 'Montserrat';
    --tamanho-fonte: 14px; 
    --cor-primaria: #464646;
    --cor-secundaria: #A3A3A3;
    --fundo-video: #FFB050;
    --fundo-local: #4894FF;
    --borda-audio: #ECECEC;
}