.vagas {
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    align-items: center;
    justify-content: center;
    width: 100%;
}

.anuncio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vagas__anuncio {
    color: var(--vermelho);
    font-size: 14px;
    font-weight: 500;
    background-color: #F9F4F4;
    border-radius: 16px;
    padding: 0.5em;
    text-align: center;
    margin-bottom: 16px;
}

.vagas__subtitulo {
    color: var(--cor-principal);
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.vagas__texto {
    color: var(--cor-secundaria);
    font-size: 20px;
    font-weight: 400;
}

.vagas__imagem {
    margin: 4em 2em;
}

.areas {
    font-family: var(--fonte-primaria);
    width: 50%;
    margin-bottom: 6em;
}

.area__titulo {
    font-weight: 500;
    font-size: 20px;
    color: var(--cor-principal);
    padding-bottom: 2em;
}

.area__interesse {
    border: 1px solid var(--borda-vagas);
    border-radius: 16px;
    padding: 1.25em 1.25em 1.75em 1.25em;
    margin-bottom: 1.25em;
}

.area__especificacoes {
    display: flex;
    padding-top: 2em;
}

.area__texto {
    padding-right: 1.5em;
    font-size: 16px;
    font-weight: 500;
    color: var(--cor-secundaria);
}