* {
    margin: 0px;
    padding: 0px;
}

.texto-destaque {
    color: #5e5e5e;
}

.titulo-blog {
    color: #5e5e;
}

.urgente {
    color: #ff0000;
}

p{
    color: #000;
    border: #000 solid 1px;
    border-radius: 10px;
}