body {
    background-color: #fffff1;
}

h1 {
    color: #000;
}
p {
    color: #000;
}
button {
    background-color: ciano;
    color: #000;
    border: #000 solid 1px;
    border-radius: 4px;
}
img {
    height: 100px;
    width: 100px;
}

